# KAAN GÜNEY KEKLİKÇİ - 24986

In [6]:
# Decision Tree Classifier for Bank Marketing Dataset

In [16]:
# navigate to directory

In [23]:
pwd

'/Users/kaanguney.keklikci'

In [24]:
cd Desktop/Sabancı/"CS 412"/HW2

/Users/kaanguney.keklikci/Desktop/Sabancı/CS 412/HW2

In [240]:
import numpy as np
import sys # for interpreter-function-library accesses 
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# necessary libraries imported

In [29]:
# import the dataset from the archive

In [47]:
bank_data = pd.read_csv("bank-full.csv", sep = ";")
bank_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [62]:
# y is our target variable, change the name for ease
bank_data = bank_data.rename(columns = {"y" : "Target"})
bank_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [67]:
# split the dataset into two groups dependent(target) variable and independent variables(features)

In [68]:
feature_cols = ["age", "job", "marital", "education", "default", "balance", "housing", "loan", "contact", "day", "month", "duration", "campaign", "pdays", "previous", "poutcome"]

In [77]:
X = bank_data[feature_cols] # features 
y = bank_data["Target"] # target variable

In [79]:
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
from sklearn import metrics # for accuracy

In [87]:
# split the data into training and test set 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 1)

In [91]:
X_train.dtypes # have to convert object datatypes using labelencoder before using fit()

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
dtype: object

In [150]:
from sklearn import preprocessing # to use for labelencoder(), preprocess both sets 

def convert(data): 
    le = preprocessing.LabelEncoder()
    for i in data:
        if(data[i].dtype == object):
            data[i] = le.fit_transform(data[i])
        else:
            pass
    return data 
X_train = convert(X_train)
X_test = convert(X_test)

In [188]:
tree = DecisionTreeClassifier() # Decision Tree Object, max_depth created max by default for first depth tryout 

tree = tree.fit(X_train, y_train) # Train decision tree classifier 

y_pred = tree.predict(X_test) # predict the outcome for test set

In [189]:
# calculate model accuracy, how often is classifier accurate?

print("Accuracy of the model is ", metrics.accuracy_score(y_test, y_pred))

Accuracy of the model is  0.8694151995045563

In [190]:
from sklearn.metrics import classification_report

In [233]:
print(classification_report(y_test, y_pred)) # just additional info, not really needed

              precision    recall  f1-score   support

          no       0.93      0.96      0.94      9998
         yes       0.59      0.43      0.50      1305

   micro avg       0.90      0.90      0.90     11303
   macro avg       0.76      0.70      0.72     11303
weighted avg       0.89      0.90      0.89     11303

In [234]:
# f1 score is almost the same as accuracy, meaning we have an even distribution 
# if that wasn't the case; f1-score would provide better results compared to accuracy metric

### - We can also specify the parameters for our decision tree model such as max_depth manually...

In [235]:
# reconstructing the tree to measure if max_depth specification changes the accuracy
# use a for loop to try different depths

In [239]:
for i in range(1,11,1):
    clf = DecisionTreeClassifier(max_depth = i)
    clf = clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print("Accuracy of the model with max_depth = ",i," ",float("%.5f" % metrics.accuracy_score(y_test, y_pred)))

Accuracy of the model with max_depth =  1   0.88454
Accuracy of the model with max_depth =  2   0.89047
Accuracy of the model with max_depth =  3   0.89074
Accuracy of the model with max_depth =  4   0.89215
Accuracy of the model with max_depth =  5   0.89578
Accuracy of the model with max_depth =  6   0.89773
Accuracy of the model with max_depth =  7   0.89888
Accuracy of the model with max_depth =  8   0.89985
Accuracy of the model with max_depth =  9   0.90065
Accuracy of the model with max_depth =  10   0.89879

### The results show that; 
************************************

    - The most accurate model turned out to be in max_depth = 9 (out of 10 different tryouts) - %90.065 success rate.
    
    - Models with max_depth = 6, 7, 8 and 9 have very close accuracies ~ %90.
************************************

### -> DecisionTreeClassifier Final Analysis
        
******************************************
- **WORKFLOW** :
******************************************
    - First, the necessary libraries such as sklearn, numpy and pandas were imported along with some others.
    - By using pandas dataframe, the dataset was transported to a dataframe.
    - The attributes in the dataframe were both categorical and numerical.
    - Before using the classifier, this d-type difference required conversion; 
        all d-types have to be numerical in order to use the classifier.
    - By using LabelEncoder() from sklearn preprocessing, this conversion was made.
    - Meanwhile, the dataset was split into training and test sets %75 and %25 respectively.
    - Since conversion was now made, classification by default
        and parameter specifications(i.e max_depth) was then made.
******************************************

******************************************
- **EXTRACTIONS** :
******************************************
    - First, max_depth was not specified at all, by default criterion is 'gini'.
    - Using the features, target variable, class, was tested according to the splits with respect to the gini index.
    - The first split produces the lowest Gini impurity so this split is preferable.
    - The decision tree algorithm keeps splitting until certain parameters specified(i.e max_depth = 1,2,3,etc.) or;
        - when all attributes have similar values
        - when all instances are of a single class - the classifiers above work in this manner.
    - All splits in this homework are made according to GINI by default.
    - Then, finally the accuracy scores are presented.
    - The highest accuracy score according to different max_depth parameters is found as shown just above.
    - So, in the end, one is able to properly organize the data in a decision tree by splitting the data 
        - according to the provided parameters (criterion = "gini", max_depth = 5, etc.) 
        - then, obtain the accuracy scores to find out the best classifier.(in this research max_depth = 9 best result)
******************************************

******************************************
- **PERSONAL REMARK** :
******************************************
    - Decision trees tend to provide biased(poor) results with unbalanced datasets, 
        - but since this was a balanced set, 90% accuracy is convincing and not surprising.
******************************************

# HW 2 finished...